<!DOCTYPE html>
<html>
<head>
    <title>Breathe|Donors</title>
    <link href="https://fonts.googleapis.com/css?family=Headland+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style type="text/css">
        .button:focus,input:focus{
            outline: none;
        }
        body{
            background: url("img/iStock-927897070.jpg") no-repeat fixed;
            background-size: cover;
        }
    </style>
</head>
	<div class="container">
	    <div class="row">
	    	<div style="width:20%; margin:2% auto" class="heading">
	    		<h1>Donors<h1>   
	    	</div>
<div style="width:60%; margin:2% 20%">
	<table class="table">
		<thead class="thead-dark">
			<tr>
			  <th scope="col">Blood_Grp</th>
			  <th scope="col">Oragan to be Donated</th>
			  <th scope="col">Contact </th>
			  <th scope="col">License number</th>
			  <th style="padding:10px;">City</th>				
			</tr>
		  </thead>	
		<tbody>
			<% donors.forEach(function(donor){ %>
				<tr>	
				<td><%= hospital.blood_group %></td>
				<td><%= hospital.organ %></td>
				<td><%= hospital.contact_no %></td>
				<td><%= hospital.license_no %></td>	
				<td><%= hospital.city %></td>
				<tr>
			<% }); %>
		</tbody>

	</table>
	</div>
<% include ../partials/footer %>
